.concerts-container {
    .concert-header {
        position: relative;
    }
    h1 {
        font-weight: bold;
        display: block;

        margin-bottom: 10px;
        padding-left: 10px;
    }
    h2 {
        display: inline-block;
        font-weight: normal;
        font-size: 12pt;
        padding-left: 10px;
    }
    .search {
        display: inline-block;
        position: absolute;
        right: 10px;
        bottom: 0;
        input {
            width: 300px;
            display: inline-block;
            height: 28px;
            line-height: 28px;
            -webkit-appearance:textfield;
            box-sizing: content-box;
        }
    }
    .icon {
        display: inline-block;
        height: 32px;
        padding: 0 5px;
        color: $accent-color;
    }
    ul {
        padding-top: 10px;
        text-align: left;
        a {
            display: inline-block;
            margin: 10px;
            width: 217px;
            height: 292px;
            position: relative;
            box-shadow: 0 1px 2px rgba(0,0,0,0.2);
            text-decoration: none;
            transition: .2s all ease-in-out;
            text-align: center;

            &:hover {
                transform: scale(1.1);
            }
            .concert-image-container {
                width: 217px;
                height: 217px;
            }
            .concert-info {
                height: 75px;
                padding: 10px;
                width: 100%;
                box-sizing: border-box;

                font-weight: 900;
                background-color: white;
                color: black;
                border-top: 1px solid #edefef;

                p:first-child {
                    font-weight: normal;
                    margin-bottom: 5px;
                }
                p:last-child {
                    font-weight: 100;
                    font-size: 8pt;
                }
            }
        }
    }
}

.concert-landing-container {
    box-sizing: border-box;
    position: relative;
    text-align: left;
    .concert-landing-card{
        width: 570px;
        min-height: 600px;
        display: inline-block;
        text-align: left;

        margin: 0 10px 0 0;

        background-color: white;
        border-radius: 3px;

        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        .concert-landing-image {
            height: 300px;
            width: 100%;
            position: relative;
            text-align: center;

            h1 {
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 25pt;
                text-align: center;
                width: 90%;
            }
            a {
                display: inline-block;
                position: absolute;
                bottom: 16%;
                left: 50%;
                transform: translateX(-50%);

                padding: 15px 20px;

                border: 3px solid white;
                border-radius: 30px;
                text-transform: uppercase;
                font-size: 11pt;
                font-weight: 900;
                color: #333;
                background-color: white;

                text-decoration: none;

                transition: .2s all ease-in-out;
                &:hover {
                    background-color: #b84a4a;
                    border-color: #b84a4a;
                    color: white;
                }
            }
        }
        .top-tracks-container {
            .about-paragraph {
                height: 50px;
                line-height: 50px;

                position: relative;

                .about-venue {
                    position: absolute;
                    left: 10px;
                }

                .about-date {
                    position: absolute;
                    right: 10px;
                }
            }
            h2 {
                padding: 10px;
            }
            ul {
                li {
                    height: 40px;
                    list-style-type: none;
                    padding-left: 10px;
                    background-color: white;
                    transition: .2s all ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                    }

                    a {
                        text-decoration: none;
                        color: black;
                        display: block;
                    }
                    p {
                        line-height: 40px;
                        display: inline-block;
                        font-size: 10pt;
                        font-weight: normal;
                    }

                    i {
                        display: inline-block;
                        margin-right: 15px;
                        line-height: 40px;
                    }
                }
                li:nth-child(even) {
                    background-color: #eee;
                }
            }
        }
    }
}
.concert-info-container {
    display: inline-block;
    position:  absolute;
    right:0;
    width: 300px;
    text-align: left;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: normal;
    h2 {
        padding: 10px;
    }
    li {
        padding-left: 20px;
        list-style-type: none;
        border-bottom: 1px solid #edefef;
        height: 50px;
        line-height: 50px;
    }
    li:last-child {
        border-bottom: none;
        padding: 0;
        a {
            padding-left: 20px;
            display: block;
            cursor: pointer;
            text-decoration: none;
            color: $accent-color;
            &:hover {
                background-color: #f9f9f9;
            }
        }

    }
}