.current-concert {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

    width: 300px;
    display: inline-block;
    li {
        list-style-type: none;
        min-height: 50px;
        line-height: 50px;
        padding-left: 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #edefef;
        position:  relative;
    }
    li.image-name-concert-container {
        padding: 20px;
        line-height: normal;
        img {
            width: 100px;
            display: inline-block;
            margin-right: 20px;
        }
        .text-container {
            display: inline-block;
            position: absolute;
            top: 20px;
            p {
                margin-bottom: 4px;
            }
        }
    }
    li.more-info-concert-container {
        padding:0;
        a {
            display: block;
            padding-left: 20px;
            color: $accent-color;
            font-size: 15pt;
            text-decoration: none;
            &:hover {
                background-color: #f9f9f9;
                color: $accent-color;
            }
        }
    }
}
.swipe-container {
    width: 600px;
    height: 530px;
    background-color: white;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;

    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 10px 20px;
    box-sizing: border-box;
    h4 {
        font-weight: 100;
        margin-bottom: 20px;
    }
}
#tinderslide {
    width: 300px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    ul {
        li {
            min-height: 400px;
            max-height: 400px;
            height:400px;
            box-sizing: border-box;
            background-color: white;
            position: absolute;
            box-shadow: 0 1px 2px rgba(0,0,0,0.2);
            .image-container {
            }

            .text-container {
                height:150px;
                position: relative;

                padding-top: 25px;
                box-sizing: border-box;

                h2 {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    font-size: 12pt;

                    text-align: left;
                    text-shadow: none;
                    color: black;
                    font-weight: normal;

                    display: inline-block;
                    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
                    width: auto;
                    padding: 3px 20px;
                    border-radius: 20px;

                    margin-bottom: 10px;
                }

                p {
                    text-align: left;
                    font-size: 9pt;
                    line-height: 17px;
                }

                a.swipe-button {
                    position: absolute;
                    bottom: 0;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    font-size: 9pt;
                    line-height: 50px;
                    text-align: center;
                    color: white;
                    text-decoration: none;
                }
                a.like-button {
                    right: 0;
                    background-color: green;
                }
                a.dislike-button {
                    left: 0;
                    background-color: red;

                }
            }
            img {
                width: 100%;
                display: block;
            }
        }

        .l {
            .like-dislike-notification {
                background: url("../img/liked.png") no-repeat scroll 0 0;
                width: 100px;
                height: 50px;
                z-index: 2;
                right: 0;
                position: absolute;
                background-size: 100px;
            }
        }
        .d {
            .like-dislike-notification {
                background: url("../img/nope.png") no-repeat scroll 0 0;
                width: 100px;
                height: 50px;
                z-index: 2;
                left: 0;
                position: absolute;
                background-size: 100px;
            }
        }
    }
}
.no-more-people-found {
    display: none;
    width: 150px;
    height: 150px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 50%;
    background-color: #edefef;
    margin: 0 auto;

    text-decoration: none;
    color: black;
    z-index: 10000;
    &:hover {
        background-color: $accent-color;
        color: white;
    }
    p {
        font-size: 9pt;
        text-align: center;
        margin: 0 auto;
        /* line-height: 150px; */
        width: 70%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}