html {
    height: 100%;
    width: 100%;
}
body {
    height: inherit;
    width: 100%;


    min-height: 100%;

    background-color: #f9f9f9;

    font-family: Brandon, 'Helvetica', 'Arial' !important;
}

* {
    margin: 0;
    padding: 0;
}
.notifyjs-container {
    .notifyjs-bootstrap-notification {
        background-color: $accent-color;
        border: none;
        color: white;
        text-shadow: none;
        font-size: 9pt;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }
}

.full-page {
    padding-top: 80px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    min-width: 100%;
    min-height: 100%;
}
.outer-wrapper {
    min-height: 100%;
    height: 100%;
}

.grid-container {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    position:  relative;
}

.user-nav {
    background-color: white;
    height: 50px;
    width: 100%;
    z-index: 3;

    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    top: 0;

    .logo {
        line-height: 50px;
        display: inline-block;
        margin-right: 20px;
        a {
            display: block;
            font-size: 20pt;
            font-weight: 900;
            text-decoration: none;

            color: $accent-color;
        }

    }

    .menu {
        display: inline-block;
        li {
            display: inline-block;
            list-style-type: none;

            margin: 0 10px;
            a {
                display: block;
                color: black;
                font-size: 14pt;
                font-weight: 100;
                text-decoration: none;
                font-weight: 400;
                transition: .2s all ease-in-out;
                &:hover {
                    color: $accent-color;
                }
            }
        }
    }

    .nav-profile-image {
        display: inline-block;
        background-color: #eee;
        background-size: cover;
        width: 30px;
        height: 30px;

        border-radius: 50%;

        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .sub-menu {
        position: absolute;
        right: 0;
        top: 60px;
        min-width: 230px;

        background-color: white;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        display: none;
        li {
            list-style-type: none;
            height:50px;
            line-height: 50px;
            border-bottom: 1px solid #edefef;

            a {
                display: block;
                padding-left: 20px;
                color: black;
                text-decoration: none;
                font-size: 15pt;

                &:hover {
                    color: $accent-color;
                    background-color: #f9f9f9;
                }
            }
        }
    }
}

.hidden {
    display: none !important;
}