/* fonts */
@font-face {
    font-family: Brandon;
    src: url("../fonts/BrandonText-Regular.otf") format("opentype");
}

@font-face {
    font-family: Brandon;
    font-weight: bold;
    src: url("../fonts/BrandonText-Bold.otf") format("opentype");
}

@font-face {
    font-family: Brandon;
    font-weight: 900;
    src: url("../fonts/BrandonText-Black.otf") format("opentype");
}


$accent-color: #ff3d3d;